body {
    	margin: 0 auto;
	border: 0;
	background-color: #b3d9e2;	
    text-align: justify;
	font-family: Gill Sans, Gill, FrancophilSans, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
    padding-right: 15px;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 10px;
}

td {
    font-size: 12px;
    background-color: #FFFFFF;
    color: #000000;
}

p {
    font-size: 12px;
    color: #000000;
	margin: 10px 40px 20px 40px;
}

h1 {
    margin: 0;
    margin-bottom: 1.0E-4pt;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
	text-align: left;
}

b {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

#encabezado_norma {
	color: #fff;
	background-color: #006c87;
	height: 34px;
	width: 100%;
	margin-bottom: 30px;
}

#encabezado_norma p{
	color: #fff;
	background-color: #0d8eae;
	margin: 0;
	padding: 3px 0 3px 15px;
	font-size: 11px;
}